{:kotoba.app/id "cloud.itonami.isic-2410", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihq5aaqtzl4cjnrsnlz3ewjtcqq7jo5wlh3fusfcrywzmzkd7q6di", :kotoba.app/embed-url "ipfs://bafkreihq5aaqtzl4cjnrsnlz3ewjtcqq7jo5wlh3fusfcrywzmzkd7q6di", :published {:archive "https://kotobase.net/ipfs/bafkreihq5aaqtzl4cjnrsnlz3ewjtcqq7jo5wlh3fusfcrywzmzkd7q6di", :size 72354, :put-status 201, :get-status 200, :at "2026-08-15T14:01:35.514Z"}}
